<div>
    <form action="">
        <table>
            <tbody width="100%">
                <tr>
                    <td width="50%">
                        <h2>Update Product Infor</h2>
                        <br>
                        <label for="fname">Name: </label>
                        <br>
                        <input type="text" placeholder="Enter product name">
                    </td>
                        <label for="fname">Price: </label>
                        <br>
                        <input type="number">
                    </td>
                    <td width="50%">
                        <h2>Product List</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    
</div>
